<div class="grow px-12 pt-12 container mx-auto bg-violet-100">

  @if(!registerMode) {
    <div class="flex flex-col justify-center items-center h-96 bg-violet-200 rounded-3xl bg-gradient-to-br from-violet-200 to-violet-300">
      <h1 class="text-3xl font-black text-violet-700 px-5 py-3">Find a musician, a band, a recording studio and more.</h1>
      <p class="mt-4 px-5 py-3">Create a profile, post an ad and find people you need.</p>
      <button (click)="registerToggle()" class="mt-4 px-5 py-3 bg-violet-700 font-medium text-white rounded-full">Register</button>
      <div class="flex flex-row justify-center items-center rounded-full bg-violet-700 mt-2">
        <button class="p-4 w-14 h-14 bg-violet-700 hover:bg-violet-600 active:bg-violet-800 font-medium text-white rounded-full" (click)="setCounter()">-</button>
        <div class="p-4 h-14 bg-violet-700 font-medium text-white">{{ counterValue() }}</div>
        <button class="p-4 w-14 h-14 bg-violet-700 hover:bg-violet-600 active:bg-violet-800 font-medium text-white rounded-full" (click)="updateCounter()">+</button>
      </div>
    </div>
  }
  @else {
    <div class="container">
      <div class="flex flex-row justify-center">
        <div>
          <p>Register form goes here</p>
        </div>
      </div>
    </div>
  }
</div>
